* {
    font-size: 1.2rem;
}

@font-face {
    font-family: my-font;
    src: url(./Atkinson-Hyperlegible-Regular-102.otf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-image: linear-gradient(120deg, lightblue, white);
    height: calc(100vh - 60px);
}

.container {
    width: fit-content;
    font-family: my-font;
}

button {
    padding: auto 20px;
}
